.contact-text {
	display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte */
    padding: 20px;
}

.contact-text h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.contact-text p {
	white-space: nowrap; 
	font-size: 1.2rem;
	margin: 0;
	padding: 0; 
}


.contact-icon{
    display: flex;
    flex-direction: column;
    font-style: normal ;
}

.contact-body {
	display: flex;
	justify-content: center;
	max-width: none; 
	width: 80%;  
	margin: 0 auto;
	padding: 20px 50px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background: white; 
}

.contact-form, .contact-details {
	padding: 40px 25px; 
	background: white;
	margin: 0;
	flex: 1;
	min-width: 300px;
}


.form-title {
	margin-bottom: 25px;
	border-bottom: 4px solid rgb(25, 82, 255);
	padding-bottom: 10px;
}

.contact-header {
	text-align: center;
	padding: 1rem;
}

.contact-title {
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.contact-description {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.contact-separator {
	width: 30%;
	height: 5px;
	background-color: rgb(25, 82, 255);
	margin-top: 20px;
	opacity: 1;
	margin: 0 auto;
}


@media (min-width: 768px) {
	.contact-header {
		padding: 2rem;
	}
	
	.contact-title {
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
	}
	
	.contact-description {
		font-size: 1.15rem;
		margin-bottom: 2rem;
	}
	
}


@media (max-width: 768px) {
	.contact-text h1 {
		font-size: 1.8rem;
	}
  
	.contact-text p {
		white-space: normal; 
		font-size: 1rem;
	}
  
	.separator {
		width: 40%;
		margin-top: 20px;
	}
  
	.contact-body {
		flex-direction: column;
		width: 90%;
		padding: 0;
		margin: 20px auto;
		box-shadow: none;
	}
  
	.contact-form, .contact-details {
		border-radius: 10px;
		margin: 10px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	}
}




