.legal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    max-width: 600px;
    padding-bottom: 0;
}

.legal-text h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.legal-icon {
    display: flex;
    flex-direction: column;
}

.legal-accordion {
	max-width: 1200px; 
	width: 100%;
	margin: 60px 250px; 
  
}


.legal-accordion a {
	display: inline-block;
}

.legal-separator {
	width: 70%;
	height: 5px;
	background-color: rgb(25, 82, 255);
	margin-top: 20px;
	opacity: 1;
}



@media (max-width: 768px) {
	.legal-text {
		margin: 30px 20px;
	}
  
	.legal-text h1 {
		font-size: 1.8rem;
	}
  
	.legal-accordion {
		margin: 30px 20px;
		width: calc(100% - 40px); 
	}
}

@media (min-width: 769px) {
  
	.legal-text h1 {
		font-size: 2.5rem;
	}
  
	.legal-accordion {
		margin: 60px 250px; 
		width: calc(100% - 500px); 
	}
}