.real-header {
	background-image: url(../../public/assets/images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	filter: opacity(100%);
}

.real-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px auto;
	padding-bottom: 20px;
	text-align: center; 
}

.real-text h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.real-text p {
	font-size: 1.2rem;
}

.real-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 40px;
    max-width: 1200px;
    margin: 50px auto; 
    padding: 0 20px;
}

.real-separator {
    width: 30%;
    height: 5px;
    background-color: rgb(25, 82, 255);
    margin-top: 20px;
    opacity: 1;
}


@media (max-width: 768px) {
    .real-header {
        height: 150px;
    }
    
    .real-text {
        margin: 30px 20px;
    }
    
    .real-text h1 {
        font-size: 1.8rem;
    }
    
    .real-text p {
        font-size: 1rem;
    }
    
    .real-card {
        gap: 25px;
        margin: 30px 15px;
        padding: 0 10px;
    }
    
    .separator {
        width: 60%;
        margin: 15px auto;
    }
}

@media (min-width: 769px) {
    .real-header {
        height: 250px;
    }
    
    .real-text {
        margin: 50px auto;
    }
    
    .real-text h1 {
        font-size: 2.5rem;
    }
    
    .real-text p {
        font-size: 1.2rem;
    }
    
    .real-card {
        gap: 40px;
        margin: 50px auto;
    }
    
}