.real-header {
  background-image: url(../../public/assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  filter: opacity(100%);
}

/* Styles pour le texte */
.real-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 6px solid rgb(92, 132, 255);
  margin: 50px auto; /* auto pour centrer horizontalement */
  max-width: 600px; /* Au lieu de marges fixes */
  padding-bottom: 20px;
  font-family: "NunitoSans", sans-serif;
  text-align: center; /* Pour centrer le texte */
}

/* Styles pour les éléments à l'intérieur de .real-text */
.real-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.real-text p {
  font-size: 1.2rem;
  color: #666;
  margin: 0;
}

.real-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre horizontalement */
    gap: 40px;
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: 50px auto; /* Centre le conteneur dans la page */
    padding: 0 20px;;
}