.service-header {
    background-image: url(../../public/assets/images/banner.jpg);
    height: 250px;
    filter: opacity(100%);
}
.service-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 550px;
    padding-bottom: 0;
}
 

.service-text h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.service-card {
    display: flex;
    justify-content: space-between; 
    gap: 3rem;
    max-width: 1200px;
    margin: 3rem auto;
    padding: -2px 1rem;
    height: 450px;
    width: 100%;
}

.service-separator {
    width: 30%;
    height: 5px;
    background-color: rgb(25, 82, 255);
    margin-top: 20px;
    opacity: 1;
}

@media (max-width: 768px) {
    .service-header {
        height: 150px; 
    }
    
    .service-text {
        margin: 30px 20px; 
        padding-bottom: 15px;
    }
    
    .service-text h1 {
        font-size: 1.8rem; 
    }
    
    .service-card {
        flex-direction: column;
        gap: 2rem; 
        height: auto; 
        margin: 2rem ;
        padding: 0 20px;
    }
}

@media (min-width: 769px) {
    .service-header {
        height: 250px; 
    }
    
    .service-text {
        margin: 50px;
    }
    
    .service-text h1 {
        font-size: 2.5rem; 
    }
    
    .service-card {
        flex-direction: row; 
        height: 450px;
    }

}
