.service-header {
    background-image: url(../../public/assets/images/banner.jpg);
    height: 250px;
    filter: opacity(100%);
}
.service-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 6px solid rgb(92, 132, 255);
    margin: 50px 550px;
    padding-bottom: 0;
    font-family: "NunitoSans", sans-serif;
}
 

.service-text h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.service-card {
    display: flex;
    justify-content: space-between; /* ⬅️ ESPACE ENTRE LES CARDS */
    gap: 3rem; /* ⬅️ ESPACEMENT UNIFORME */ /* Pour le responsive */
    max-width: 1200px;
    margin: 3rem auto;
    padding: -2px 1rem;
    height: 450px; /* Hauteur fixe */
    width: 100%;
}
