
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-card {
    background: #333333; 
    width: 850px;
    max-width: 90%;
    border-radius: 0;
    border: none;
    color: white; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #444 !important;
}

.modal-header .card-title {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.modal-header .btn-close {
     background: none;
    border: none;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;
    margin-right: 30px; /* ← Force une marge à droite */
    padding: 0;
    line-height: 1;
}

.modal-header .btn-close:hover {
    color: white;
}

.modal-body {
    display: flex;
    min-height: 400px;
}


.modal-left {
    width: 50%;
    background: #333333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.modal-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-right: 25px;
    margin-bottom: 25px;
}


.name-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #444;
}

.name-item .stat-icon {
    width: 24px;
    margin-right: 15px;
    color: #aaa;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-item h2.stat-label {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}




.modal-description {
    color: #ccc; 
    line-height: 1.5;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
}

.stats-list {
    flex: 1;
}

.stat-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}


.stat-icon {
    width: 24px;
    margin-right: 15px;
    color: #aaa; 
    font-size: 18px;
}

.stat-text {
    flex: 1;
}

.stat-label {
    color: #999; 
    font-size: 14px;
    margin-bottom: 2px;
}



.modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #444 !important;
    padding: 10px 40px;
    display: flex;
    margin-top: 25px;
    justify-content: flex-end; 
    align-items: center; 
    min-height: 80px;
}

.btn-close-modal {
    background: #555;
    color: white;
    border: none;
    margin-right: 25px;
    padding: 12px 15px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-close-modal:hover {
    background: #666; 
}