header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    padding: 15px 10px 10px;
    font-family: "NunitoSans", sans-serif;
}

header h1 {
    font-size: medium;
    margin-left: 15px;
}

.pages {
    color: #cecece;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    padding-left: 15px;
    margin-right: 10px;

}

.pages:focus{
    font-weight: bold;
    color: white;
}

.pages:hover {
     color: white;
     text-decoration: underline;
}

.pages.active{
    font-weight: bold;
    border-bottom: 2px solid #3498db;
}
